#web_bg {
  /* 背景图像的地址（url括号里）  */
  background: url(http://www.0595it.com/uploads/allimg/120310/1-120310160302.jpg);
  /* 背景图像不重复 */
  background-repeat: no-repeat;
  /* 背景图像大小 */
  background-size: cover;
}